#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            label = "Base";

            // SW1..6 SW45 | SW22..27
            // SW7..12    | SW46 SW28..32
            // SW13..17 SW43 | SW33..38
            // SW18..21 SW44 | SW49 SW39..42

            bindings = <
&kp TAB    &kp Q     &kp W     &kp E      &kp R     &kp T  &kp ESC               &kp Y      &kp U     &kp I      &kp O      &kp P      &kp DEL
&kp LCTRL  &kp A     &kp S     &kp D      &kp F     &kp G             &kp TAB    &kp H      &kp J     &kp K      &kp L      &kp ENTER
&kp LSHFT  &kp Z     &kp X     &kp C      &kp V     &kp B             &kp B      &kp N      &kp M     &kp COMMA  &kp DOT    &mo 1
           &kp LGUI  &kp LALT  &kp SPACE  &kp RALT  &mo 2             &kp SPACE  &kp ENTER  &kp BSPC  &mkp LCLK  &mkp RCLK
            >;
        };

        numbers {
            label = "Num / Nav";
            bindings = <
&kp GRAVE  &kp N1   &kp N2   &kp N3    &kp N4    &kp N5    &kp N6              &kp N7    &kp N8    &kp N9     &kp N0     &kp MINUS  &kp EQUAL
&trans     &kp F1   &kp F2   &kp F3    &kp F4    &kp F5              &kp F6    &kp F7    &kp F8    &kp F9     &kp F10    &trans
&trans     &kp F11  &kp F12  &kp LBKT  &kp RBKT  &kp BSLH            &kp HOME  &kp LEFT  &kp DOWN  &kp UP     &kp RIGHT  &trans
           &trans   &trans   &trans    &trans    &trans              &trans    &trans    &trans    &kp PG_UP  &kp PG_DN
            >;
        };

        system {
            label = "BT / Media";
            bindings = <
&trans       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans               &out OUT_USB  &out OUT_BLE  &trans        &trans        &trans       &bt BT_CLR
&bootloader  &sys_reset    &trans        &trans        &trans        &trans                  &trans     &trans        &trans        &trans        &sys_reset    &bootloader
&trans       &trans        &trans        &trans        &trans        &trans                  &trans     &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_MUTE    &trans
             &trans        &trans        &trans        &trans        &trans                  &mkp MCLK  &trans        &trans        &kp C_VOL_DN  &kp C_VOL_UP
            >;
        };
    };
};
